CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
CMakeUserPresets.json
node_modules
.vscode/launch.json
.mypy_cache/